

@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.header_index{
background-image:url(img/bwood2.jpg);
background-repeat: no-repeat;
background-position: center;
width: 818px;
height:300px;
padding: 45px;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
position: relative;
}
        
header
{
font-family: 'Playball', arial, sans-serif;
top:5%;
color:black;
font-size: 1.2em;
width: 100%;
position:absolute;
text-align: center;
margin-bottom: 20px;
}
        
h1{
text-align: center;
color: gold;
}
       
.image_logo_taverne{
position: absolute;
top: 45px;
left: 45px;
}
        
.header_index{
background-image:url(img/bwood2.jpg);
background-repeat: no-repeat;
background-position: center;
width: 818px;
height:300px;
padding: 45px;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
position: relative;

}
.header_ul{
text-align: center;
justify-content:space-around;
display: flex;
}
.header_ul_a{
color: gold;
}

.header_ul{
margin-top: 0.6em;
}

.p_header{
margin-top: 1.9em;
color: honeydew;
}
    
.p_header_deux{
margin-top: 0.9em;
color: honeydew;
}

.upper_body_ul,.sub-navigation-races-link,.sub-navigation-carriere-link,
.upper_crea_perso_a,.sub-navigation-comp-link,.sub-navigation-force-link
{
    color:rgba(155, 89, 182, 1) ;
    margin-right: 5px;
}

.h3_sw{
text-align: center;
}      

ul 
{
list-style: none;
}

a{
text-decoration: none;
}   

a:visited{
color: honeydew;
}

.upper_body_ul
{
list-style: none;
text-align: center;
justify-content:space-around;
display: flex;
font-size: 1.2em;
}

.upper_body_ul_a
{
    color:#EBC974;
}
body{
background-image:url(img/wallpsw.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.corp_de_la_page{
color: honeydew;
background-color:
rgba(0, 0, 0, 0.6);
border: 1px solid
black;
border-radius: 1em;
display: flex;
font-family: 'Playfair Display', serif;
}

 .corp_de_la_page h2 {
     color:goldenrod ;
 }
.corp_de_la_page article{
    margin-left: 5%;
}
.etapes_creation_personnage{
    text-align: center;
    font-size: 1.2em;
}
 .corp_de_la_page img {
     margin-left: 5%;
 }
.a_sw_blank,.content-link,.medecine{
    color:rgba(0, 230, 64, 1);
}
 .img_article_sw{
     max-width:450px ;
     
 }

 #scrollUp
{
position: fixed;
bottom: 10px;
right: 10px;
opacity: 0.5;
}

 footer{
    margin-top: 15px;
  margin-bottom: 0px;
    background-image:url(img/fb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gold;
}
 .ul_footer {
margin-bottom: 16px;
color: gold;
text-align: center;
justify-content:space-around;
display: flex;

}
.a_footer{
  background-color: sienna;
  color: #ffd058;
  border-radius: 20px;
  font-size: x-large;
  padding: 10px;
  border: none;
  box-shadow:0 5px 0 #66290c ;
  display: inline-block;
  text-decoration: none;
}

.a_footer:hover{
  box-shadow: 0 3px 0 #66290c;
  transform:translateY(2px);
}

.a_footer:active{
  transform:translateY(5px);
  box-shadow: none;
}

@media only screen and (max-width: 850px) {
    header img{
        display: none;
    }
    body img{
        display: none;
    }
    aside{
        display: none;
    }
    header p{
        display: none;
            }
    .a_footer{
    background-color:transparent;
    box-shadow: 0 5px 0 transparent;
    }
    .a_footer:hover{
    box-shadow: 0 3px 0 transparent;
    }
    .header_index{
        background-image:url(img/fb.jpg);
        padding: 10px;
        margin:10px;
        height: 170px;
        
    }
}
@media only screen and (max-width: 1050px) {
    aside{
        display: none;
    }
    main{
        max-width:100%;
    }
    body{
        background-image:none;
        background-color: beige;
    }
    .corp_de_la_page{
        background-color: beige;
        width: 100%;
        border: none;
        color: black;
    }
    .block_page{
        background-color: none;
        border: none;
    }
    .image_avant_footer_index{
        display: none;
    }
    .a_footer{
        background-color:transparent;
        box-shadow: 0 5px 0 transparent;
        }
    .img_dice{
        display: grid;
    }
    a:visited{
        color:cornflowerblue ;
        }
}